.Table>table{
    background-color: rgba(255,255,255,0.8);
}

.table{
    background-color: rgba(255,255,255,0.8);
    border: transparent!important;
    border-radius: 15px;
    font-size: 3vw!important;
}

.stt__colInvoc{
    width: 85px;
    text-align: center;
}

p{
    margin-bottom: 0!important;
}