.Result{
    border-radius: 7px;
    background-color: rgba(255,255,255,0.8);
}
.itemList__firstColumn{
    text-align: right;
}

.itemList__firstColumn>p{
    color:grey;
    margin-bottom: 0;
    font-size: 3vw;
}

.itemList__secondColumn{
    text-align: left;
    padding-left: 0;
}

.itemList__secondColumn>p{
    font-weight: bold;
    margin-bottom: 0;
    font-size: 3vw;
}